:root{
    --primaryColor: #7a63f1;
    --secondaryColor: #ebe8fc;
    --textColor: #a3a3a3;
    --greyColor: #f4f4f4;
    --whiteColor: #f5f4fa;
    --blackColor: #434344;
}

.trending{
    .setContainer{
        .setHeading{
            justify-content: space-between;
            padding: 1rem 0;

            .navbtns{
                gap: .5rem;

                .icon{
                    padding: 3px 5px;
                    background: var(--secondaryColor);
                    border-radius: 3px;
                    font-size: 30px;
                    cursor: pointer;

                    &:hover{
                        background: var(--primaryColor);
                        color: var(--whiteColor);
                    }
                }
            }
        }

        .carContainer{
            gap: 2rem;
            
            .singleCar{
                text-align: left;
                transition: .3s ease-in-out;
                .imgDiv{
                    height: 200px;
                    width: 100%;
                    overflow: hidden;
                    border-radius: 10px;
                    border: 5px solid transparent;

                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
                
                .carTitle{
                    color: var(--blackColor);
                    font-size: 15px;
                    padding-top: 10px;
                }

                .miles{
                    color: var(--blackColor);
                    opacity:0.7; 
                    font-size: 14px;
                }

                .AWD{
                    padding: 1rem 0;
                    color: var(--blackColor);
                    font-weight: 600;
                    font-size: 15px;
                }

                .price_seller{
                    gap: 1rem;

                    span{
                        cursor: pointer;
                        padding: .5rem 1rem;
                        border-radius: 3px;
                        font-weight: 600;
                    }

                    .price{
                        background: var(--secondaryColor);
                        color:var(--primaryColor);
                    }

                    .seller{
                        background: var(--greyColor);
                        color:var(--textColor);
                    }
                }

                &:hover{
                    transform: translateY(-7px);

                    .imgDiv{
                        border: 5px solid var(--primaryColor);
                    }
                }
            }
        }
    }
}

//media queries to make trending div responsive
@media screen and (min-width: 520px){
    .trending{
        .setContainer{
            .setHeading{
                margin-bottom: 1rem;

                .setTitle{
                    font-size: 23px;
                }

                .navBtns{
                    gap: .5rem;
                    .icon{
                        font-size: 40px;
                    }
                }
            }

            .carContainer{
                grid-template-columns: repeat(2,1fr);

                .singleCar{
                    .carTitle{
                        font-size: 18px;
                    }

                    .miles, .AWD{
                        font-size: 16px;
                    }
                    .price_seller{
                        span{
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 940px){
    .trending{
        .setContainer{
            .setHeading{

                .setTitle{
                    font-size: 28px;
                }

                .navBtns{
                    gap: 1rem;
                }
            }

            .carContainer{
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}